<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300' type='text/css' rel='stylesheet' />
<link href='/css/style.css' type='text/css' rel='stylesheet' />
 
</head>
<body>
	<div id="bp" style="position:relative;">
	<img id="blueprint" style="position:absolute; top:0;left:0;" src="blueprint.png">
	<div id="assetLayer" style="position:relative;">
		<% for (var i = 0; i < assets.length; i++) { %>
			<button style="position:absolute; top:<%=assets[i].y%>; left:<%=assets[i].x%>;"><%=assets[i].name%></button>
		<% } %>
	</div>
	
	</div>
<script>
	$("#blueprint").click(function(event){
		console.log("clientX: "+event.clientX+" - client Y: "+event.clientY);
		console.log($(event.target));
		 var asset= document.createElement("BUTTON");
		 asset.style.position="absolute";
		 asset.id="TEMPASSET"
		 asset.innerHTML="TEXT";
		 asset.style.top=event.clientY+"px";
		 asset.style.left= event.clientX+"px";
		 var bp= document.getElementById("assetLayer");
		 bp.appendChild(asset);
		 
		 var modal=window.parent.document.getElementById("myModal")
		 modal.style.display="block"
		 window.parent.document.getElementById('elX').value= document.getElementById('TEMPASSET').style.left
		 window.parent.document.getElementById('elY').value= document.getElementById('TEMPASSET').style.top
		 
	});

</script>
</body>


</html>