<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>IT God's Eye</title>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300' type='text/css' rel='stylesheet' />
<link href='/css/style.css' type='text/css' rel='stylesheet' />
 
</head>
<% include ../newheader %>
<body>
<div class = "container-fluid">
	<div id="myModal" class="modal" style="display:none">
	<!-- Modal content -->
	<div class="modal-content animate">
	<form id="addAsset" action="addAsset" method="POST">
		<label for="dnsname"><b>DNS Name</b></label>
    <input type="text" placeholder="Enter DNS name" name="dnsname" required><br>
	<input type="hidden" id="elX" name="elX" value="">
	<input type="hidden" id="elY" name="elY" value="">
	<input type="hidden" id="facility" name="facility" value="<%=title%>">
	
    <button type="submit" style="margin-left:30px;">Add Asset</button>
	</form>
	</div>
	</div>

  <div class = "row margin">
    <div class = "row">
      <div class = "col-xs-12">
        <h3 class="titleTxt" id="titleTxt"><%=title%></h3>
      </div>
    </div>
	<iframe width="90%" height="600" src="./blueprint"></iframe>
  </div>
</div>
<a href='./report'><button>PULL REPORT</button></a>

<script>

</script>
</body>


</html>